.weather-slideshow {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
  .weather-card {
    flex: 0 0 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 16%, rgba(231,251,255,1) 52%, rgba(0,212,255,1) 100%, rgba(255,255,255,1) 100%); 
    border-radius: 20px;
  }
  
  .weather-slideshow::-webkit-scrollbar {
    display: none;
  }
  
  .weather-card time{
    background-color: #003366;
    color: #ffffff;
    padding: 5px;
    
  }

  .WeatherCard{
    font-size: 12;
  }
  .weather-container{
    
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 41%, rgba(0,212,255,1) 100%); 
  }