/* File: /src/pages/Forecast.css */

.forecast-container {
  text-align: center;
  position: relative;
}

.content-container {
  margin-top: 20px;
}

.weather-news-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.weather-container {
  position: relative;
  margin-right: 20px;
}

.news-container {
  margin-top: 20px;
}
